.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #c4c8e2, #5c6bc0);
}

mat-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-header {
  text-align: center;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
